@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: #f0f0f0;
}

*, :after, :before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}